.nav-link {
	color: #757575;
}

.huaic_nav_border {
	box-shadow: 0 0 4px 0 #312f92;
}

.huaic_landing {
	text-align: center;
	min-height: 564px;
	background-image: radial-gradient(rgb(215, 215, 215) 1px, transparent 1px),
		radial-gradient(rgb(215, 215, 215) 1px, transparent 1px);
	background-size: 50px 50px;
	margin: 0px auto;
	padding: 0px;
	background-position: 0px 0px, 25px 25px;
}

.sponser-headings {
	text-align: center;
	padding: 100px 0px;
	border-bottom: 1px solid #f4f5f6;
}

.sponser-headings h1 {
	font-family: "effra", sans-serif;
	font-size: 3.4rem;
	font-weight: 900;
	margin-bottom: 40px;
}

.btn-success {
	box-shadow: 0 4px 10px 0 #28a745;
}
.sponser-headings h2 {
	font-family: "lato", sans-serif;
	margin-bottom: 50px;
	line-height: 1.5;
	font-size: 1.15rem;
	color: #4a4a4a;
}

.sponser-cards {
	width: 70%;
	margin: 0 auto;
}

.sponser-cards h3 {
	margin-top: 50px;
	font-size: 1.5rem !important;
	font-family: "effra", sans-serif;
	font-weight: 600;
	color: #001728;
}

.cards-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 100px;
}
.card {
	width: 200px;
	margin-bottom: 10px;
}
.card-img-top {
	max-height: 150px;
}
footer {
	background-image: linear-gradient(to bottom, #121212 0%, #323232 100%);
	color: #f1f1f1;
	text-align: center;
	height: 100%;
}
